body ul,
li,
h1,
h2,
a {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
  background-color: rgb(229, 255, 0);
  /* padding: 12px; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.9;
  z-index: 1;
}
header h1 {
  color: rgb(109, 22, 22);
  font-size: 26px;
  border: 6px solid red;
  padding: 4px 12px;
  display: inline-block;
  border-radius: 36px;
}
.banner {
  position: relative;
}
.banner img {
  max-width: 100%;
  max-height: 85vh;
}
.banner .welcome {
  position: absolute;
  color: black;
  background-color: #dadada;
  border-radius: 10px;
  padding: 15px;
  right: 5%;
  top: 25%;
  opacity: 0.8;
}

.banner h2 {
  font-size: 60px;
}
.banner h2 span {
  font-size: 1.3em;
}

nav {
  background-color: lightyellow;
  padding: 20px;
  position: sticky;
  top: 55px;
}
nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

li {
  display: inline-block;
  font-size: 24px;
  width: 25%;
}
nav li a {
  text-decoration: none;
  color: #4b4b4b;
}
nav li a.join {
  color: red;
}

main {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
}

article h2 {
  color: #f63232;
  font-size: 48px;
}
article p {
  line-height: 2em;
  color: #4b4b4b;
}

.images {
  text-align: center;
  margin: 80px 0;
  white-space: nowrap;
}

.images li {
  display: inline-block;
  width: 40%;
  margin: 20px 5%;
  object-fit: cover;
}

.images li img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

section.join {
  text-align: center;
  color: #4b4b4b;
  padding: 50px 30px;
  background: #e4e4e4;
}

.join h2 {
  font-size: 36px;
}

form input {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 28px;
  border: 4px solid white;
}

footer {
  background: orange;
  color: white;
  padding: 10px;
  text-align: center;
}

/* pseudo classes */
nav li a:hover {
  text-decoration: underline;
}

.images li:hover {
  position: relative;
  top: -4px;
}

form input:focus {
  border: 4px dashed #b4b4b4;
  outline: none;
}

article p::first-line {
  font-weight: bold;
}
p::selection {
  color: white;
  background: red;
}

/* Responsive style */

/* These styles aplies on smaller screens then 1400px */
/* 
max-width: 1400px --> and down
min-width: 800px --> and up
*/
@media screen and (max-width: 1200px) {
  .banner .welcome h2 {
    font-size: 40px;
  }
  nav li {
    font-size: 20px;
  }
}

@media screen and (max-width: 950px) {
  .welcome {
    white-space: nowrap;
    display: block;
  }
  .banner .welcome {
    padding: 8px;
    right: 5%;
    top: 25%;
    opacity: 0.8;
  }
  .banner .welcome h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 700px) {
  .banner .welcome {
    text-align: center;
    position: relative;
    padding: 10px;
    left: 0;
    right: 0;
  }
  .banner .welcome br {
    display: none;
  }
  .banner .welcome h2 {
    font-size: 20px;
  }
  .banner .welcome span {
    font-size: 1em;
  }
  nav li {
    font-size: 15px;
  }
  nav li:hover {
    background-color: #bbb8b8;
    text-decoration: none;
  }
}
@media screen and (max-width: 1050px) {
  .images li {
    display: block;
    width: 100%;
    margin: 20px auto;
  }
}

@media screen and (max-width: 950px) {
  nav li {
    display: block;
    font-size: 20px;
    width: 100%;
    margin: 20px 0;
    text-align: center;
    padding: 0;
  }
  header {
    position: relative;
  }
  nav {
    top: 0;
  }
}
